<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473607464631-c0gkeqci2mtpa48scc7vhpjfj8oojmq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473607464631-c0gkeqci2mtpa48scc7vhpjfj8oojmq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>473607464631-nfq95j3uha11ooj79aktk6ol5aeek9hr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOGRX9q35FnjQsRattjY-3H5hemuZ59vY</string>
	<key>GCM_SENDER_ID</key>
	<string>473607464631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.livroandroid.carros</string>
	<key>PROJECT_ID</key>
	<string>carros-c4f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>carros-c4f0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473607464631:ios:27bf3b548fc89d41ef8f32</string>
</dict>
</plist>